.row{
    padding:20px;
    padding-right:0;
    margin-right:0;
}

div{
    background-color:rgb(243, 236, 250);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center
}

#foto-perfil{
    border-radius: 100%;
    filter: drop-shadow(10px 10px 20px rgb(91, 9, 146));
    position:relative;
    margin-top:-15px; 
}

/* Botón editar */

.editar{
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 00;
    color: #000;
    background-color: #fff;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .editar:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .editar:active{
    transform: translateY(-1px);
  }

  /* Botón borrar */

.borrar{
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 00;
    color: #000;
    background-color: #fff;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .borrar:hover {
    background-color: #c42323;
    box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .borrar:active{
    transform: translateY(-1px);
  }
