<div class="contenedor-menu" id="contenedor-menu" (click)="toggleClass = !toggleClass" [ngClass]="{ 'active': !toggleClass }">
    <img class="btn-abrir-menu" id="btn-abrir-menu" src="../../../assets/icon-casa.png" alt="icono-home">
<nav class="elementos-navegacion">
        <ul>
            <li><a href="/#Acercade">Acerca de mi</a></li>
            <li><a href="/#Experiencias">Experiencia</a></li>
            <li><a href="/#Educacion">Educación</a></li>
            <li><a href="/#Habilidades">Habilidades</a></li>
            <li><a href="#Proyectos">Proyectos</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
</nav>
</div> 