
div{
    background-color:rgb(219, 204, 230);
    margin: 0;
}

i{
    margin:2px;
}

.principal{
    padding: 20px;
    display: block;
    
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.botones{
    display: flex;
    justify-content: flex-end;
}

@media(max-width: 767px){
    .botones{
        display: flex;
        justify-content: flex-start;
    }
}