.porcent{
    z-index: 10;
}

.row{
    padding:20px;
    padding-right:0;
    margin-right:0;
    background-color:rgb(219, 204, 230);
}

.tabla{
    width: 215px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.container{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:40px;
    border-radius: 20px;
}

.container .card{
    position:relative;
    width: 180px;
    height: 230px;
    background: #07182E;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container .card .porcent{
    position:relative;
    width:150px;
    height:150px;
}

.container .card .porcent svg{
    position:relative;
    width:150px;
    height:150px;
    transform:rotate(270deg);
}

.container .card .porcent svg circle{
    width:100%;
    height:100%;
    fill: transparent;
    stroke-width:2;
    stroke: rgb(219, 204, 230);
    transform:translate(5px,5px);
}

.container .card .porcent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity:0;
    animation:fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
}

.dot{
    position:absolute;
    inset: 5px;
    z-index:10;
    
    /* 360deg/100- 3.6 */
    animation: animateDot 2s linear forwards;
}

@keyframes animateDot{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(calc(3.6deg * var(--num)));}
}

.dot::before{
    content:'';
    position:absolute;
    top: -5px;
    left:50%;
    transform:translateX(-50%);
    width:10px;
    height:10px;
    border-radius:50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr);
}

.number{
    position:absolute;
    inset:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity:0;
    animation:fadeIn 1s linear forwards;
    animation-delay: 2.5s;

}

.number h2{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-weight: 700;
    font-size: 2.5em;
}

.number h2 span{
    font-weight: 300;
    color:#fff;
    font-size: 0.5em;
}

.number p{
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:aqua;
    width:100px;
    text-align: center;
}



/* card */

.carta {
    width: 190px;
    height: 254px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;

    transition: all 0.4s ease-in;
    box-shadow: 0.4rem 0.4rem 0.6rem #00000040;
  }
  
  .carta::before {
    content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(41, 60, 66), rgb(41, 60, 66));
  height: 130%;
  animation: rotBGimg 10s linear infinite;
  transition: all 0.2s linear;

  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .carta::after {
    content: '';
  position: absolute;
  background: #07182E;
  inset: 5px;
  border-radius: 15px;
  }  

  .carta:hover {
    transform: translateY(-1.5rem);
 border: #c97de0f0 0.2em solid;
 border-radius: 2.5rem 0 2.5rem 0;
   }

   /* Iconos */

   .icons{
    z-index: 1100;
    display: flex;
    justify-content: space-between;
    color: rgb(232, 211, 241);
    

   }

   .edit:hover{
    width: 15px;
    height: 15px;
    color: rgb(80, 238, 106);
    box-shadow: 5px 5px 25px rgb(91, 9, 146);
}

   .delete:hover{
    color: rgb(247, 60, 60);
   }