<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="container">
        <div class="card">
            <div class="porcent" style="--clr:#ad04fc;--num:85;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>85<span>%</span></h2>
                    <p>html</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="porcent" style="--clr:#04fc43;--num:50;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>50<span>%</span></h2>
                    <p>html</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="porcent" style="--clr:#e704fc;--num:30;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>30<span>%</span></h2>
                    <p>html</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="porcent" style="--clr:#8c04fc;--num:74;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>74<span>%</span></h2>
                    <p>html</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="porcent" style="--clr:#fce304;--num:100;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>100<span>%</span></h2>
                    <p>html</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="porcent" style="--clr:#fcad04;--num:62;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>62<span>%</span></h2>
                    <p>html</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="porcent" style="--clr:#2f00ff;--num:89;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>89<span>%</span></h2>
                    <p>html</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="porcent" style="--clr:#fc0404;--num:20;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>20<span>%</span></h2>
                    <p>html</p>
                </div>
            </div>
        </div>
    </div>
</div>