<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Estudio 1</h2>-
                <h6>(años)</h6>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere at quia magnam voluptate, omnis quisquam necessitatibus commodi eveniet velit quo aliquam? Quae mollitia ab vero incidunt eum deserunt dolore consequatur.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Estudio</h2>-
                <h6>(años)</h6>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere at quia magnam voluptate, omnis quisquam necessitatibus commodi eveniet velit quo aliquam? Quae mollitia ab vero incidunt eum deserunt dolore consequatur.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Estudio</h2>-
                <h6>(años)</h6>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere at quia magnam voluptate, omnis quisquam necessitatibus commodi eveniet velit quo aliquam? Quae mollitia ab vero incidunt eum deserunt dolore consequatur.
            </p>
        </ul>
        

    </div>
</div>

