<div class="principal">
    <div>
        <h1>Educación</h1>
    </div>
    <div>
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">Nueva Educación</button>
    </div>
    
</div>
    <div class="row" *ngFor="let Educacion of educacion">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <td><h3>{{Educacion.nombreE}}</h3></td>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-6">
            <td>{{Educacion.descripcionE}}</td>
        </div>
        <div class=" botones col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <td *ngIf="isLogged"><button class="btn btn-success editar" routerLink="/editedu/{{Educacion.id}}"><i class="bi bi-pencil">EDITAR</i></button></td>
            <td *ngIf="isLogged"><button class="btn btn-danger borrar" (click)="delete(Educacion.id)"><i class="bi bi-trash3-fill">BORRAR</i></button></td>
        </div>
    </div>


<!-- <div class="row">
    <h1>Educación</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Nueva Educación
        </button>

    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td><h3>{{Educacion.nombreE}}</h3></td>
                    <td>{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged"><button class="btn btn-success" routerLink="/editedu/{{Educacion.id}}"><i class="bi bi-pencil-square"></i>EDITAR</button></td>
                    <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Educacion.id)"><i class="bi bi-eraser"></i>BORRAR</button></tr>
            </tbody>
        </table>
    </div>

</div> -->