<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    
    <ul class="social_icon">
        <li><a href="#"><img src="../../../assets/facebook.png" alt="Facebook"></a></li>
        <li><a href="#"><img src="../../../assets/github.png" alt="GitHub"></a></li>
        <li><a href="#"><img src="../../../assets/linkedin.png" alt="Linkedin"></a></li>
        <li><a href="#"><img src="../../../assets/twitter.png" alt="Twitter"></a></li>
    </ul>
    <ul class="menu">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Sobre nosotros</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Equipo</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>
    <p>©2022 Natalia Miguel | Todos los derechos reservados</p>
</footer>