<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    
    <ul class="social_icon">
        <li><a href="https://www.facebook.com/natalia.david.7311" target="_blank"><img src="../../../assets/facebook.png" alt="Facebook"></a></li>
        <li><a href="https://github.com/Sakuracc8" target="_blank"><img src="../../../assets/github.png" alt="GitHub"></a></li>
        <li><a href="https://www.linkedin.com/in/natalia-miguel-1459801b3/" target="_blank"><img src="../../../assets/linkedin.png" alt="Linkedin"></a></li>
        <li><a href="https://twitter.com/Natalia57272479" target="_blank"><img src="../../../assets/twitter.png" alt="Twitter"></a></li>
    </ul>
    <ul class="menu">
        <li><a href="#Acercade">Acerca de mi</a></li>
        <li><a href="#Experiencias">Experiencia</a></li>
        <li><a href="#Educacion">Educación</a></li>
        <li><a href="#Habilidades">Habilidades</a></li>
        <li><a href="#Proyectos">Proyectos</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
    <p>©2022 Natalia Miguel | Todos los derechos reservados</p>
</footer>