<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 proyecto">
            <h1>Proyecto1</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure repellendus adipisci sunt odit perspiciatis corrupti velit animi deserunt, dolore ducimus repudiandae reiciendis dignissimos itaque quae sequi repellat dolor, provident omnis!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 foto-proyecto">
        <img src="../../../assets/Proyecto-prueba.jpg" class="img-fluid img-proyecto" alt="Foto-proyecto-1">
        </div>
    </div>
</div>