<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" *ngIf="isLogged" routerLink="/nuevoproyecto">Nuevo Proyecto</button>
    </div><br><br>
    <table class="table">
        <tr *ngFor="let Proyectos of proyectos">
            <figure class="snip1218">
                <div class="image"><a href="{{Proyectos.url_proyecto}}" target="_blank"><img src="{{Proyectos.img_proyecto}}" alt="img_proyecto"></a>
                    <p>{{Proyectos.descripcionE}}</p>
                </div>
                <figcaption>
                    <h3>{{Proyectos.nombreE}}</h3>
                    <div class="icons" *ngIf="isLogged"><i class="bi bi-pencil"></i><i class="bi bi-trash3-fill" (click)="delete(Proyectos.id)"></i></div>
                </figcaption>
            </figure>
        </tr>
    </table>
</div>